//@Author: Lyes Tarzalt
:root {
  --overlay-bg-color: rgba(0, 0, 0, 0);
  --face-hole-shadow-color: rgba(0, 0, 0, 0.541);
  --face-hole-size: 80vw;
}
.camera-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.camera-container::before {
  content: '';
  position: absolute;
  inset: 0;
  background: radial-gradient(circle at center, transparent 41vw, rgba(0, 0, 0, 0.541) 42vw);
  z-index: 2; /* Below the glow-wrapper, above the video */
}


.glow-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 82vw;
  height: 82vw;
  transform: translate(-50%, -50%);
  border-radius: 50%;

  z-index: 4; /* Make sure this is above the darkening layer */
    transition: box-shadow 0.3s ease-in-out;



    
}

.face-hole {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 50%;
  z-index: 3; /* Above video and darkening, below glow */
  border: 5px solid transparent;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(-1);
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 3;
}
.video-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(-1); /* Flipped horizontally */
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
}
@keyframes glowAnimation {
  0%, 100% {

    box-shadow:
      0 0 10px 2px orange,
      0 0 20px 10px orange;
  }
  50% {
    box-shadow:
      0 0 15px 1px orange,
      0 0 25px 10px orange;
  }
}
